[Service]
User=expense
Environment=DB_HOST="mysql.rdevops72.store"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target